<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="images/emb.ico" />
<title>SGGHS  | Admissions</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
      <div><a href="index.html"><img src="images/logo2.png" alt="" /></a></div>
	  <span> contact us:+91 9440649338<br />
      <br />
      +91 9440371427 </span> </div>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li class="current"><a href="admissions.html">Admissions</a></li>
      <li><a href="training-courses.html">Time Table</a></li>
      
      <li><a href="school-calendar.html">School Calendar</a></li>
      <li><a href="contact-us.html">Contact us</a></li>
    </ul>
  </div>
  <div id="content">
    <div>
      <h3>Admissions</h3>
	  <div> <a href="#"><img src="images/joining.png" alt="" /></a>
	  </div>
	  
      <div class="section">
        <div>
          <h5>1.Child should have attained minimum age requirement for the grade applied.</h5>
		  <h5>2.Attested True Copy of the Birth Certificate</h5>
		  <h5>3.Original Transfer Certificate in case child has attended another school</h5>
		  <h5>4.Proof of residence of parent</h5>
		  <h5>5.Medical Certificate from a qualified Registered Practitioner detailing ailment or particular health   condition if any Record of vaccination / immunization</h5>
          <h5>6.2 copies of passport size photographs and 3 copies of stamp size photographs</h5>
        </div>
        
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <div id="connect"> <a href="#"><img src="images/icon-facebook.gif" alt="" /></a> <a href="#"><img src="images/icon-twitter.gif" alt="" /></a> <a href="#"><img src="images/icon-youtube.gif" alt="" /></a> </div>
      <div class="section">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="admissions.html">Admissions</a></li>
          <li><a href="training-courses.html">Time Table</a></li>
          <li><a href="contact-us.html">Contact us</a></li>
		  <li><a href="school-calendar.html">School Calendar</a></li>
        </ul>
         <p>Copyright &copy;  - All Rights Reserved | DESIGNED BY IIITians, SWARGAM NAREN RITVIK,RAHUL KORTHIWADA</p>
		</div>
    </div>
  </div>
</div>
</body>
</html>