<!DOCTYPE html>
<html>
<head><link rel="shortcut icon" href="images/emb.ico" />
<title>SGGHS | HOME</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="styles/style.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="styles/ie6.css" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
      <div><a href="index.html"><img src="images/logo2.png" alt="" /></a></div>
      <span> contact us:+91 9440649338<br />
      <br />
      +91 9440371427 </span> </div>
    <ul>
      <li class="current"><a href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>
      <li><a href="admissions.html">Admissions</a></li>
      <li><a href="training-courses.html">Time Table</a></li>
     
      <li><a href="school-calendar.html">School Calendar</a></li>
	   <li><a href="contact-us.html">Contact us</a></li>
    </ul>
    <div id="tagline">
      <div>
        <h4>Limited Seats, Unlimited Ranks.</h4>
        <p>Come with hope - Go with Confidence.</p>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="home">
      <div>
        <div id="aside">
          <div>
            <h1>Recieving award from <span class="last">Chief Minister</span></h1>
            <a href="#"><img src="images/award.png" alt="" /></a>
			</div>
          
        </div>
        <div id="calendar">
          <h3>School Calendar</h3>
          <ul>
		  <li>
              <div> <span>15<br />
                Apr</span>
                <h2><a href="#">ANNUAL EXAMINATIONS.</a></h2>
              </div>
              <p>Timings are 9:30 AM to 11:30 AM</p>
            </li>
            <li>
              <div> <span>1<br />
                May</span>
                <h2><a href="#">SUMMER VOCATION.</a></h2>
              </div>
              <p>This year holdiays are from May 1 to June 6.</p>
            </li>
            <li>
              <div> <span>1<br />
                Jun</span>
                <h2><a href="#">ADMISSIONS ARE OPEN.</a></h2>
              </div>
              <p></p>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <div id="connect"> <a href="#"><img src="images/icon-facebook.gif" alt="" /></a> <a href="#"><img src="images/icon-twitter.gif" alt="" /></a> <a href="#"><img src="images/icon-youtube.gif" alt="" /></a> </div>
      <div class="section">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="admissions.html">Admissions</a></li>
          <li><a href="training-courses.html">Time Table</a></li>
         
          <li><a href="contact-us.html">Contact us</a></li>
		  <li><a href="school-calendar.html">School Calendar</a></li>
        </ul>
        <p><strong>Copyright &copy;  - All Rights Reserved | DESIGNED BY Alumni, SWARGAM NAREN RITVIK,RAHUL KORTHIWADA</strong></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>