<li>
              <h2><a href="#">Nam a mauris <span class="last">Pellentesque</span></a></h2>
              <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
              <p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
            </li>
			
			<ul>
            <li>
              <h2><a href="#">SCINTILLATING <span class="last">FEATURES</span></a></h2>
              <p>First of all we give quality based education with uncompromising efforts.</p>
              <p>We utmost give importance to inculcate self discipline,rich manners, provide natural learning experiences which contributes personality development of the child.</p>
            </li>
            <li>
              <h2><a href="#"><span class="last">Achievements</span></a></h2>
			  <p>  Got 100% result in SSC 2017.</p>
			  <p>  50% students got above 9 CGPA.</p>
              <p>  Our student secured state rank:128 in NEET 2017.</p>
      
            </li>
          </ul>
		  <dd>Sri Panchami - Sat, 22</dd>
		  <dd>Guru Ravidas's Birthday- Wed, 31</dd>
		  <dd>Vaishaki - Sat,14</dd>
		  <dd>Bihu - Sun,15</dd>
		  <dd>Bakrid - Wed,22</dd>