<!DOCTYPE html>
<html>
{% load staticfiles %}
<head><link rel="shortcut icon" href="{% static 'Blog/images/emb.ico' %}" />
<title>SGGHS | HOME</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href=" {% static 'Blog/styles/style.css' %}" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{% static 'Blog/styles/ie6.css' %}" /><![endif]-->
</head>
<body>
<div id="page">
  <div id="header">
    <div id="section">
      <div><a href="{% url 'Blog:index' %}"><img src="{% static 'Blog/images/logo2.png' %}" alt="" /></a></div>
      <span> contact us:+91 9440649338<br />
      <br />
      +91 9440371427 </span> </div>
    <ul>
      <li class="current"><a href="{% url 'Blog:index' %}">Home</a></li>
          <li><a href="{% url 'Blog:about' %}">About Us</a></li>
          <li><a href="{% url 'Blog:admission' %}">Admissions</a></li>
          <li><a href="{% url 'Blog:training' %}">Time Table</a></li>
        <li><a href="{% url 'Blog:school_calendar' %}">School Calendar</a></li>
        <li><a href="{% url 'Blog:blog' %}">Login</a></li>
        <li><a href="{% url 'Blog:contact' %}">Contact us</a></li>
    </ul>
    <div id="tagline">
      <div>
        <h4>Limited Seats, Unlimited Ranks.</h4>
        <p>Come with hope - Go with Confidence.</p>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="home">
      <div>
        <div id="aside">
          <div>
            <h1>Recieving award from <span class="last">Chief Minister</span></h1>
            <a href="#"><img src="{% static 'Blog/images/award.png' %}" alt="" /></a>
			</div>
          
        </div>
        <div id="calendar">
          <h3>School Calendar</h3>
          <ul>
		  <li>
              <div> <span>15<br />
                Apr</span>
                <h2><a href="#">ANNUAL EXAMINATIONS.</a></h2>
              </div>
              <p>Timings are 9:30 AM to 11:30 AM</p>
            </li>
            <li>
              <div> <span>1<br />
                May</span>
                <h2><a href="#">SUMMER VOCATION.</a></h2>
              </div>
              <p>This year holdiays are from May 1 to June 6.</p>
            </li>
            <li>
              <div> <span>1<br />
                Jun</span>
                <h2><a href="#">ADMISSIONS ARE OPEN.</a></h2>
              </div>
              <p></p>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div>
      <div id="connect"> <a href="#"><img src="{% static 'Blog/images/icon-facebook.gif' %}" alt="" /></a> <a href="#"><img src="{% static 'images/icon-twitter.gif' %}" alt="" /></a> <a href="#"><img src="{% static 'images/icon-youtube.gif' %}" alt="" /></a> </div>
      <div class="section">
        <ul>
          <li><a href="{% url 'Blog:index' %}">Home</a></li>
          <li><a href="{% url 'Blog:about' %}">About Us</a></li>
          <li><a href="{% url 'Blog:admission' %}">Admissions</a></li>
          <li><a href="{% url 'Blog:training' %}">Time Table</a></li>
         <li><a href="{% url 'Blog:contact' %}">Contact us</a></li>
		  <li><a href="{% url 'Blog:school_calendar' %}">School Calendar</a></li>
        </ul>
        <p><strong>Copyright &copy;  - All Rights Reserved | DESIGNED BY Alumni, SWARGAM NAREN RITVIK,RAHUL KORTHIWADA</strong></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>